
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0; /* Hellgrau */
}

.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9ff; /* Hellblau */
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center; /* Mittig ausrichten */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    color: #333;
}

label, input {
    display: block;
    margin-bottom: 10px;
}

button {
    margin-top: 10px;
    background-color: #007bff; /* Blau */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Dunkleres Blau */
}

p {
    margin-top: 10px;
    font-size: 18px;
}
